<div class="about main-page__about">
    <div class="container about__container">
       <div class="about__content">
           <h2 class="h2 about__header">Пару слов о нас</h2>
           <div class="about__text">
               <p>«Семья рф» — одно из крупнейших агентств недвижимости Москвы и Московской области.
                   23 года нам доверяют квартиры!</p>

               <p>Полный спектр риэлторских услуг позволяет компании успешно решать любые задачи на рынке недвижимости.</p>

               <p>
                   Агентство «Семья рф» работает на рынке недвижимости с 1997 года и в настоящее время имеет 5 отделений
                   в Москве. Компания специализируется на покупке вторичного жилья и квартир в новостройках,
                   продаже и обмене жилья, аренде квартир, коммерческой недвижимости.
               </p>
           </div>
       </div>
        <div class="about__image">

        </div>
    </div>
</div>