<div class="services">
    <div class="container services__container">
        <h2 class="h2 services__header">Наши услуги</h2>
        <div class="services__cards">
            <a href="#" class="services__card services__card--red">
                <h3 class="services__card-header">Продать</h3>
                <div class="services__card-text">Квартиру • дом • участок коммерческую недвижимость • адрес</div>
            </a>
            <a href="#" class="services__card services__card--orange">
                <h3 class="services__card-header">Купить</h3>
                <div class="services__card-text"></div>
            </a>
            <a href="#" class="services__card services__card--aqua">
                <h3 class="services__card-header">Аренда недвижимости</h3>
                <div class="services__card-text"></div>
            </a>
            <a href="#" class="services__card services__card--violet">
                <h3 class="services__card-header">Бесплатная оценка объекта</h3>
                <div class="services__card-text"></div>
            </a>
        </div>
        //= ../callback-form.html
    </div>
</div>