<div class="callback-form-wrapper">
    <div class="callback-form-wrapper__text-block">
        <h4 class="callback-form-wrapper__header">Вызвать риелтора на дом </h4>
        <div class="callback-form-wrapper__subheading">Вызов риелтора происходит бесплатно!</div>
    </div>
    <form action="/" class="callback-form">
        <div class="callback-form__controls">
            <input type="text" class="input callback-form__input" placeholder="Телефон">
            <button class="btn btn--default callback-form__btn">Заказать звонок</button>
        </div>
        <div class="callback-form__agreement">
            Отправляя заявку вы соглашаетесь на <a href="#">обработку персональных данных</a>
        </div>
    </form>
</div>