<footer class="footer">
    <div class="container footer__container">
        <h2 class="h2 footer__header">С кем мы работаем</h2>
        <div class="footer__partners">
            <div class="footer__partners-item">
                <div class="footer__partners-header">Застройщики</div>
                <div class="footer__partners-company-list">
                    <div class="footer__partners-img"><img src="../assets/img/image1.png" alt="логотип" class="footer__partners--company"></div>
                    <div class="footer__partners-img"><img src="../assets/img/image2.png" alt="логотип" class="footer__partners--company"></div>
                    <div class="footer__partners-img"><img src="../assets/img/image3.png" alt="логотип" class="footer__partners--company"></div>
                    <div class="footer__partners-img"><img src="../assets/img/image4.png" alt="логотип" class="footer__partners--company"></div>
                </div>
            </div>
            <div class="footer__partners-item">
                <div class="footer__partners-header">Банки</div>
                <div class="footer__partners-company-list">
                    <div class="footer__partners-img"><img src="../assets/img/image5.png" alt="логотип" class="footer__partners--company"></div>
                    <div class="footer__partners-img"><img src="../assets/img/image6.png" alt="логотип" class="footer__partners--company"></div>
                    <div class="footer__partners-img"><img src="../assets/img/image7.png" alt="логотип" class="footer__partners--company"></div>
                    <div class="footer__partners-img"><img src="../assets/img/image8.png" alt="логотип" class="footer__partners--company"></div>
                </div>
            </div>
        </div>
        //= callback-form.html
        <div class="footer__about">
            <div class="footer__credits">
                <div class="footer__logo-container">
                    <img src="https://placekitten.com/140/40" alt="logo" class="footer__logo">
                </div>
                <div class="footer__copyright">© Все права защищены.</div>
            </div>
            <div class="footer__menu">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">Услуги</li>
                    <li class="footer__menu-item">О компании</li>
                    <li class="footer__menu-item">Отзывы</li>
                </ul>
                <a class="footer__politic" href="#">Политика конфиденциальности</a>
            </div>
            <div class="footer__contacts">
                <a href="tel:+79180111190" class="footer__phone">+7 918 011 11 90</a>
                <a href="mailto:ang.expert@mail.ru" class="footer__email">ang.expert@mail.ru</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>