<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/main-page/first-screen.css">
    <link rel="stylesheet" href="../../css/main-page/sub-menu.css">
    <link rel="stylesheet" href="../../css/main-page/advantages.css">
    <link rel="stylesheet" href="../../css/main-page/about.css">
    <link rel="stylesheet" href="../../css/main-page/main-page.css">
    <link rel="stylesheet" href="../../css/main-page/services.css">
    <title>Header</title>
</head>
<body>
    <div class="header">
        <div class="container header__container">
            <div class="header__logo-container">
                <img src="https://placekitten.com/140/40" alt="logo" class="header__logo">
            </div>
            <nav class="header__menu">
                <div class="hover-dropdown header__hover-dropdown">Услуги
                    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.03033 0.96967C1.73744 0.676777 1.26256 0.676777 0.96967 0.96967C0.676777 1.26256 0.676777 1.73744 0.96967 2.03033L2.03033 0.96967ZM8.03033 2.03033C8.32322 1.73744 8.32322 1.26256 8.03033 0.96967C7.73744 0.676777 7.26256 0.676777 6.96967 0.96967L8.03033 2.03033ZM0.96967 2.03033L3.61612 4.67678L4.67678 3.61612L2.03033 0.96967L0.96967 2.03033ZM5.38388 4.67678L8.03033 2.03033L6.96967 0.96967L4.32322 3.61612L5.38388 4.67678ZM3.61612 4.67678C4.10427 5.16493 4.89573 5.16493 5.38388 4.67678L4.32322 3.61612C4.42085 3.51849 4.57915 3.51849 4.67678 3.61612L3.61612 4.67678Z" fill="#333333"/>
                    </svg>
                    <ul class="hover-dropdown__list">
                        <li class="hover-dropdown__list-item"><a href="#" class="hover-dropdown__link">Продать</a></li>
                        <li class="hover-dropdown__list-item"><a href="#" class="hover-dropdown__link">Купить</a></li>
                        <li class="hover-dropdown__list-item"><a href="#" class="hover-dropdown__link">Бесплатная <br>
                            оценка объекта</a></li>
                        <li class="hover-dropdown__list-item"><a href="#" class="hover-dropdown__link">Аренда недвижимости</a></li>
                    </ul>
                </div>
                <a href="#" class="header__menu-link">О компании</a>
                <a href="#" class="header__menu-link">Отзывы</a>
            </nav>
            <div class="header__contacts">
                <a href="tel:+79180111190" class="header__contacts-phone">+7 918 011 11 90</a>
                <a href="mailto:ang.expert@mail.ru" class="header__contacts-email">ang.expert@mail.ru</a>
            </div>
        </div>
    </div>